<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <h1>All Cocktails</h1>


  <%= link_to 'Add a cocktail', new_cocktail_path %>

  <% @cocktails.each do |cocktail| %>
    <h2>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </h2>

  <%= link_to "See details", cocktail_path(cocktail), class: "btn btn-primary"%>
  <% end %>
</div>
